<div class="row">
  <div class="col-3"></div>
  <div class="col-6">

    <img [src]="myImageSrc" alt="Ameya Kulkarni " class="rounded rounded-top img-fluid float-left no-padding" height="250px"
           style="padding-top: 70px; " width="250px">
      <div class="infoDiv">
        <div id="homeName" class="text-center"><span>Ameya Kulkarni</span></div>
        <div class="text-center">Masters in Computer Science Student at the University of Southdern California</div>
        <div id="btngrid" class="text-center">
          <button class="btn btn-outline-secondary" style="margin: 5px">
            Github
          </button>
          <button class="btn btn-outline-secondary" style="margin: 5px">
            LinkedIn
          </button>
          <button class="btn btn-outline-secondary" style="margin: 5px">
            Email
          </button>
          <button class="btn btn-outline-secondary" style="margin: 5px">
            Twitter
          </button>
          <button class="btn btn-outline-secondary" style="margin: 5px">
            Instagram
          </button>

        </div>
      </div>
  </div>
  <div class="col-3"></div>
</div>

